.contact{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-top: 20%;
  /* justify-content: space-around; */
}

.left-contact {
  width: 50%;
  /* border: 2px solid red; */

}

.right-contact {
  width: 50%;
  /* border: 2px solid red; */
  /* border-left: 0.8px solid grey; */

  h1{
    background: linear-gradient(to right, var(--dark-blue), var(--violet), var(--pink) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 700;
    font-size: 600%;
    margin-top: 4%;
    margin-left: 7%;
  }

  h3 {
    font-size: 200%;
    margin-top: 12%;
    margin-left: 7%;
    font-weight: 500;
    margin-right: 7%;
  }

  em {
    text-decoration: underline;
    color: var(--pink)
  }
}

.contact-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:space-evenly ;


}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  height: 60%;
  width: auto;
  padding: 5%;
  margin-bottom: 10%;

  /* margin-top: 2%; */


  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 20px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  /* opacity: 60%; */
}

.contact-left-title h3{
  font-weight: 600;
  color: var(--pink);
  font-size: 20px;
  margin-bottom: 15px;

}

.contact-left-title hr{
  border: none;
  width: 120px;
  height: 5px;
  background-color: var(--dark-blue);
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: black;
  background-color: #E2E6E9;
  border-radius: 50px;

}

.contact-left textarea{
  height: 160px;
  padding-top: 15px;
  border-radius: 20px;

}

.contact-inputs:focus {
  border: 2px solid var(--dark-blue);
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: var(--violet);
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: var(--dark-blue) ;
  cursor: pointer;



}


@media (max-width: 800px) {
  .contact-inputs{
    width: 80vw;
  }

  .contact{
    display: flex;
    flex-direction: column-reverse;
  }

}
