a {
  margin-left: 5%;
  font-weight: bold;

}

.navbar-brand{
  font-size: 2rem;
}

.collapse {
  display: flex;
  justify-content: space-around;
}

li {
  margin: 0% 10% 0% 10% ;
  font-size: 1.2rem;
  font-weight: 500;
}

button {

}
