:root {
  --dark-blue: #569DE9;
  --light-blue: #29D2F7;
  --violet: #7F74DE;
  --pink: #AD46D3;
  --cream: #E2E6E9;

}

.App {
  /* *{
    border: 2px solid red;
  } */
  font-family: "DM Sans", sans-serif;
}

.gradient-text {
    background: linear-gradient(to right, var(--dark-blue), var(--violet), var(--pink) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
